[submodule "Java/TechJava"]
	path = Java/TechJava
	url = https://github.com/Shubham-Gupta3197/TechJava.git
[submodule "Pyhton/Python"]
	path = Pyhton/Python
	url = https://github.com/Shubham-Gupta3197/TechPython.git
[submodule "Scala/Scala"]
	path = Scala/Scala
	url = https://github.com/Shubham-Gupta3197/TechScala.git
[submodule "Angular/Angular"]
	path = Angular/Angular
	url = git@github.com:MukeshAtGit/sample-angular.git
[submodule "Angular/Example-angular"]
	path = Angular/Example-angular
	url = git@github.com:MukeshAtGit/sample-angular.git
