[submodule "Java/Java"]
	path = Java/Java
	url = https://github.com/Shubham-Gupta3197/TechJava.git
[submodule "Java/TechJava"]
	path = Java/TechJava
	url = https://github.com/Shubham-Gupta3197/TechJava.git
[submodule "Pyhton/Python"]
	path = Pyhton/Python
	url = https://github.com/Shubham-Gupta3197/TechPython.git
[submodule "Scala/Scala"]
	path = Scala/Scala
	url = https://github.com/Shubham-Gupta3197/TechScala.git
[submodule "python/TechPyhton"]
	path = python/TechPyhton
	url = https://github.com/Shubham-Gupta3197/TechPyhton.git
